.wrapper
  - if @suggestion.errors.count > 0
    %ul.alert.alert-danger.p-4
      %b Não foi possível adicionar uma sugestão:
      - @suggestion.errors.each do |attribute, error|
        %li= error
  = form_for @suggestion, url: {action: "create"} do |f|
    .suggestions-input-container
      =f.text_field :name, id: "suggestion", placeholder: "Insira uma sugestão de produto!", class: 'suggestion-input'
      %button.suggestion-button{type:"submit", id:"add_suggestion"}
        <svg width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="23" stroke="#0F6900" stroke-width="4" id="plus-circle"/>
        <path d="M37 25L12 25" stroke="#0F6900" stroke-width="4" stroke-linecap="round" id="plus-horizontal"/>
        <path d="M25 37V12" stroke="#0F6900" stroke-width="4" stroke-linecap="round" id="plus-vertical"/>
        </svg>

  .new-suggestions
    -@suggestions.each do |suggestion|
      .suggestion-card
        %span
          =suggestion.name
        %span.vote-link
          %span.vote-count
            #{suggestion.suggestion_votes_count}
          - if logged_in? and current_user.suggestion_votes.exists?({suggestion_id: suggestion.id})
            = link_to suggestions_vote_destroy_path(:suggestion_id => suggestion.id), remote: true, method: :delete, class: "vote active-vote", data: {:alternate_link => suggestions_vote_create_path(:suggestion_id => suggestion.id)} do
              <svg width="18" height="17" viewBox="0 0 44 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.0684 7.84769C41.4139 6.33225 40.4701 4.95896 39.29 3.80472C38.109 2.64704 36.7166 1.72704 35.1885 1.09476C33.6039 0.436524 31.9043 0.0996007 30.1885 0.10355C27.7812 0.10355 25.4326 0.76273 23.3916 2.00785C22.9033 2.3057 22.4395 2.63285 22 2.98929C21.5605 2.63285 21.0967 2.3057 20.6084 2.00785C18.5674 0.76273 16.2187 0.10355 13.8115 0.10355C12.0781 0.10355 10.3984 0.435581 8.81152 1.09476C7.27832 1.72953 5.89648 2.64261 4.70996 3.80472C3.5283 4.95766 2.58436 6.33127 1.93164 7.84769C1.25293 9.42484 0.90625 11.0996 0.90625 12.8233C0.90625 14.4493 1.23828 16.1436 1.89746 17.8672C2.44922 19.3077 3.24023 20.8018 4.25098 22.3106C5.85254 24.6983 8.05469 27.1885 10.7891 29.7129C15.3203 33.8975 19.8076 36.7881 19.998 36.9053L21.1553 37.6475C21.668 37.9746 22.3271 37.9746 22.8398 37.6475L23.9971 36.9053C24.1875 36.7832 28.6699 33.8975 33.2061 29.7129C35.9404 27.1885 38.1426 24.6983 39.7441 22.3106C40.7549 20.8018 41.5508 19.3077 42.0977 17.8672C42.7568 16.1436 43.0889 14.4493 43.0889 12.8233C43.0938 11.0996 42.7471 9.42484 42.0684 7.84769ZM22 33.7852C22 33.7852 4.61719 22.6475 4.61719 12.8233C4.61719 7.84769 8.7334 3.81449 13.8115 3.81449C17.3809 3.81449 20.4766 5.80667 22 8.71683C23.5234 5.80667 26.6191 3.81449 30.1885 3.81449C35.2666 3.81449 39.3828 7.84769 39.3828 12.8233C39.3828 22.6475 22 33.7852 22 33.7852Z" fill="#928E8E"/>                        
              </svg>
              <svg class="vote-heart" width="18" height="17" viewBox="0 0 44 38" fill="#FA5B5B" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.0684 7.84766C41.4139 6.33222 40.4701 4.95893 39.29 3.80469C38.109 2.64701 36.7166 1.72701 35.1885 1.09473C33.6039 0.436494 31.9043 0.0995701 30.1885 0.103519C27.7812 0.103519 25.4326 0.762699 23.3916 2.00782C22.9033 2.30567 22.4395 2.63282 22 2.98926C21.5605 2.63282 21.0967 2.30567 20.6084 2.00782C18.5674 0.762699 16.2187 0.103519 13.8115 0.103519C12.0781 0.103519 10.3984 0.435551 8.81152 1.09473C7.27832 1.7295 5.89648 2.64258 4.70996 3.80469C3.5283 4.95763 2.58436 6.33124 1.93164 7.84766C1.25293 9.42481 0.90625 11.0996 0.90625 12.8232C0.90625 14.4492 1.23828 16.1436 1.89746 17.8672C2.44922 19.3076 3.24023 20.8018 4.25098 22.3106C5.85254 24.6982 8.05469 27.1885 10.7891 29.7129C15.3203 33.8975 19.8076 36.7881 19.998 36.9053L21.1553 37.6475C21.668 37.9746 22.3271 37.9746 22.8398 37.6475L23.9971 36.9053C24.1875 36.7832 28.6699 33.8975 33.2061 29.7129C35.9404 27.1885 38.1426 24.6982 39.7441 22.3106C40.7549 20.8018 41.5508 19.3076 42.0977 17.8672C42.7568 16.1436 43.0889 14.4492 43.0889 12.8232C43.0938 11.0996 42.7471 9.42481 42.0684 7.84766Z"/>
              </svg>
          - else
            = link_to suggestions_vote_create_path(:suggestion_id => suggestion.id), remote: true, method: :post, class: "vote", data: {:alternate_link => suggestions_vote_destroy_path(:suggestion_id => suggestion.id)} do
              <svg width="18" height="17" viewBox="0 0 44 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.0684 7.84769C41.4139 6.33225 40.4701 4.95896 39.29 3.80472C38.109 2.64704 36.7166 1.72704 35.1885 1.09476C33.6039 0.436524 31.9043 0.0996007 30.1885 0.10355C27.7812 0.10355 25.4326 0.76273 23.3916 2.00785C22.9033 2.3057 22.4395 2.63285 22 2.98929C21.5605 2.63285 21.0967 2.3057 20.6084 2.00785C18.5674 0.76273 16.2187 0.10355 13.8115 0.10355C12.0781 0.10355 10.3984 0.435581 8.81152 1.09476C7.27832 1.72953 5.89648 2.64261 4.70996 3.80472C3.5283 4.95766 2.58436 6.33127 1.93164 7.84769C1.25293 9.42484 0.90625 11.0996 0.90625 12.8233C0.90625 14.4493 1.23828 16.1436 1.89746 17.8672C2.44922 19.3077 3.24023 20.8018 4.25098 22.3106C5.85254 24.6983 8.05469 27.1885 10.7891 29.7129C15.3203 33.8975 19.8076 36.7881 19.998 36.9053L21.1553 37.6475C21.668 37.9746 22.3271 37.9746 22.8398 37.6475L23.9971 36.9053C24.1875 36.7832 28.6699 33.8975 33.2061 29.7129C35.9404 27.1885 38.1426 24.6983 39.7441 22.3106C40.7549 20.8018 41.5508 19.3077 42.0977 17.8672C42.7568 16.1436 43.0889 14.4493 43.0889 12.8233C43.0938 11.0996 42.7471 9.42484 42.0684 7.84769ZM22 33.7852C22 33.7852 4.61719 22.6475 4.61719 12.8233C4.61719 7.84769 8.7334 3.81449 13.8115 3.81449C17.3809 3.81449 20.4766 5.80667 22 8.71683C23.5234 5.80667 26.6191 3.81449 30.1885 3.81449C35.2666 3.81449 39.3828 7.84769 39.3828 12.8233C39.3828 22.6475 22 33.7852 22 33.7852Z" fill="#928E8E"/>                        
              </svg>
              <svg class="vote-heart" width="18" height="17" viewBox="0 0 44 38" fill="#FA5B5B" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.0684 7.84766C41.4139 6.33222 40.4701 4.95893 39.29 3.80469C38.109 2.64701 36.7166 1.72701 35.1885 1.09473C33.6039 0.436494 31.9043 0.0995701 30.1885 0.103519C27.7812 0.103519 25.4326 0.762699 23.3916 2.00782C22.9033 2.30567 22.4395 2.63282 22 2.98926C21.5605 2.63282 21.0967 2.30567 20.6084 2.00782C18.5674 0.762699 16.2187 0.103519 13.8115 0.103519C12.0781 0.103519 10.3984 0.435551 8.81152 1.09473C7.27832 1.7295 5.89648 2.64258 4.70996 3.80469C3.5283 4.95763 2.58436 6.33124 1.93164 7.84766C1.25293 9.42481 0.90625 11.0996 0.90625 12.8232C0.90625 14.4492 1.23828 16.1436 1.89746 17.8672C2.44922 19.3076 3.24023 20.8018 4.25098 22.3106C5.85254 24.6982 8.05469 27.1885 10.7891 29.7129C15.3203 33.8975 19.8076 36.7881 19.998 36.9053L21.1553 37.6475C21.668 37.9746 22.3271 37.9746 22.8398 37.6475L23.9971 36.9053C24.1875 36.7832 28.6699 33.8975 33.2061 29.7129C35.9404 27.1885 38.1426 24.6982 39.7441 22.3106C40.7549 20.8018 41.5508 19.3076 42.0977 17.8672C42.7568 16.1436 43.0889 14.4492 43.0889 12.8232C43.0938 11.0996 42.7471 9.42481 42.0684 7.84766Z"/>
              </svg>              

= render partial: 'navbar/navbar'

= javascript_pack_tag 'suggestions'